body {
  background-color: #66D2D6;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

h1 {
  color: #E56997;
  font-size: 50px;
}

h2 {
  color: #E56997;
  font-size: 35px;
}

p {
  font-size: 20px;
}

footer {
  background-color: #BD97CB;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

#card {
  background-color: #FBC740;
  margin: 30px;
  margin-bottom: 90px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#profile-picture {
  width: 250px;
  height: auto;
  align-self: center;
  border-radius: 5px;
}

#heading {
  display: flex;
}

#intro {
  margin: 20px;
}

.social-media {
  font-size: 50px;
  margin: 5px;
  color: #BD97CB;
  text-decoration: none;
}
